[package]
org = "ballerina"
name = "mime"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["mime", "multipart", "entity"]
repository = "https://github.com/ballerina-platform/module-ballerina-mime"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.0.0"

[[platform.java11.dependency]]
path = "../native/build/libs/mime-native-@project.version@.jar"


[[platform.java11.dependency]]
path = "./lib/mimepull-@mimepull.version@.jar"
groupId = "org.jvnet.mimepull"
artifactId = "mimepull"
version = "@mimepull.version@"


[[platform.java11.dependency]]
path = "./lib/jakarta.activation-@jakarta.activation.version@.jar"
groupId = "com.sun.activation"
artifactId = "jakarta.activation"
version = "@jakarta.activation.version@"

[[platform.java11.dependency]]
path = "./lib/testng-@testng.version@.jar"
groupId = "org.testng"
artifactId = "org.testng"
version = "@testng.version@"
